#register-container {
    background-color: #fefcfd;
    width: 60%;
    margin: 0 20%;
    padding: 4% 0;
    border: solid 1px #fefcfd;
}

#register-header {
    padding: 2%;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #f11515;
}

#register-form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.register-form-col:nth-child(1) {
    grid-column: 5 / span 2;
}

.register-form-col:nth-child(2) {
    grid-column: 7 / span 2;
}

.register-form-col:nth-child(3) {
    grid-row-start: 2;
    grid-column: 5 / span 2;
}

.register-form-col:nth-child(4) {
    grid-row-start: 2;
    grid-column: 7 / span 2;
}

.register-form-col:nth-child(5) {
    grid-row-start: 3;
    grid-column: 5 / span 4;
}

.register-form-col:nth-child(6) {
    grid-row-start: 4;
    grid-column: 5 / span 4;
}

.register-form-col:nth-child(7) {
    grid-row-start: 4;
    grid-column: 5 / span 4;
}

#register-email-input, #register-password-input,
#register-first-name-input, #register-last-name-input{
    width: 100%!important;
    padding: 0 4%;
    font-family: "Lato", "Helvetica Neuve";
    height: 50px;
    font-size: 20px;
    background-color: #f6f6f6;
    border: solid 1px black;
    border-radius: 5px;
}

#register-submit-btn {
    background-color: #f11515;
    border: solid 1px transparent;
    color: #fefcfd;
    font-family: "Lato", "Helvetica Neuve";
    cursor: pointer !important
}