.home-slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
}

.home-slideshow-slider {
    white-space: nowrap;
    transition: ease 1s;
}

.home-slide {
    display: inline-block;
    height: 400px;
    width: 100%;
}

.home-slideshow-dots {
    text-align: center;
}

.home-slideshow-dot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.home-slideshow.active {
    background-color: #302c33;
}