#other-reviews-container {
    background-color: #fefcfd;
    width: 60%;
    margin: 0 20%;
    border: solid 1px #fefcfd;
}

#other-reviews {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 20px;
    width: 70%;
    margin: 2% 15%;
}

.other-review-col {
    grid-column: span 2;
}

.other-review-col:nth-child(4) {
    grid-column: 2 /span 2;
}