#reviews-container {
    background-color: #fefcfd;
    width: 60%;
    margin: 0 20%;
    border: solid 1px #fefcfd;
}

#reviews-headers-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 20px;
    width: 96%;
    margin: 2% 2%;
}

.reviews-headers-col:nth-child(1) {
    grid-column: 1 / span 2;
}

.reviews-headers-col:nth-child(2) {
    grid-column: 11 / span 2;
}

#reviews-header {
    padding: 2%;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #f11515;
}

.reviews-text {
    width: 80%;
    margin: 0 10%;
    font-size: 18px;
    text-align: center;
}

#reviews {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 2% 3%;
}

.review-card {
    border: solid 1px #d2caca;
    border-radius: 5px;
    padding: 5%;
    transition: transform .5s;
}

.review-card-text, .review-card-date {
    color: black;
}

#write-review-btn {
    background-color: #f11515 !important;
    color: white !important; 
    font-size: 18px!important
}

#write-icon {
    margin-left: 2%;
}