#social-links-container {
    background-color: #fefcfd;
    padding: 2% 0;
}

#social-links-header {
    font-weight: 900;
}

.social-icon-wrapper {
    margin: 0 -12.5%;
    width: 100%;
}

#footer-facebook-icon {
    width: 50%;
}

#footer-instagram-icon {
    width: 50%;
}