#fulfillment-container {
    background-color: #fefcfd;
    background-size: contain;
    width: 60%;
    margin: -0.2% 20% 0;
    padding: 2%;
}

#fulfillment-header {
    padding: 2%;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #f11515;
}

.fulfillment-subheader {
    padding: 2%!important;
    text-decoration: underline;
    text-underline-offset: 18px;
    text-decoration-color: #f11515;
}

.fulfillment-text {
    width: 80%;
    margin: 0 10%;
    font-size: 18px;
}

#fulfillment-results-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}