#contact-form-container, #thank-you-container {
    background-color: #fefcfd;
    width: 60%;
    margin: -0.2% 20% 0;
    border: solid 1px #fefcfd;
    padding: 2%;
}

#thank-you-container:nth-child(1), #thank-you-container:nth-child(2) {
    text-align: center;
}

#form-field-container {
    display: grid;
    width: 80%;
    margin: 0 10% 3%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}

#contact-phone-number, #contact-address {
    text-align: center;
    font-size: 20px;
}

#name-input, #email-input, #company-input, #phone-input {
    width: 100%;
    font-family: "Lato", "Helvetica Neuve";
    height: 50px;
    font-size: 20px;
    background-color: #f6f6f6;
    border: solid 1px #f6f6f6;
    padding: 0 2%;
}

#message-input {
    width: 100%;
    font-family: "Lato", "Helvetica Neuve";
    height: 100px;
    font-size: 20px;
    background-color: #f6f6f6;
    border: solid 1px #f6f6f6;
    padding: 1% 1%;
}

#submit-btn {
    width: 40%;
    height: 60px;
    background-color: #f11515;
    border: solid 1px #fefcfd;
    color: #fefcfd;
    font-family: "Lato", "Helvetica Neuve";
    margin: 0% 30% 3%;
}

.form-field-col:nth-child(1) {
    grid-column: span 2;
}

.form-field-col:nth-child(2) {
    grid-column: span 2;
}

.form-field-col:nth-child(3) {
    grid-column: span 2;
}

.form-field-col:nth-child(4) {
    grid-column: span 2;
}

.form-field-col:nth-child(5) {
    grid-column: span 2;
}

.form-field-col:nth-child(6) {
    grid-column: span 2;
}

.form-field-col:nth-child(7) {
    grid-column: span 4;
}

.form-field-col:nth-child(8) {
    grid-column: 2 / span 1;
    text-align: end;
}

.form-field-col:nth-child(9) {
    grid-column: span 1;
    text-align: start;
}