#home-contact-form-container, #home-thank-you-container {
    background-color: #fefcfd;
    background-image: url(../../assets/images/home-contact-background.png);
    background-size: contain;
    width: 60%;
    margin: -0.2% 20% 0;
    padding: 2%;
}

#home-thank-you-container {
    background-image: url(../../assets/images/home-contact-background.png);
}

#thank-you, #in-touch {
    text-align: center;
    color: #fefcfd;
}

#home-contact-header {
    padding: 2%;
    text-decoration: underline;
    text-underline-offset: 20px;
    color: #fefcfd;
    text-decoration-color: #fefcfd;
}

#home-contact-subheader {
    padding: 2%;
    width: 80%;
    line-height: 40px;
    color: #fefcfd;
}

#home-form-field-container {
    display: grid;
    width: 80%;
    margin: 0 10%;
    height: 300px;
    grid-template: repeat(3, 2fr) / 50% 50%;
    column-gap: 40px;
}

#home-contact-phone-number,
#home-contact-address {
    color: #fefcfd;
    margin: 5% 0;
    font-size: 20px;
}

#home-name-input,
#home-email-input,
#home-company-input,
#home-phone-input {
    width: 100%;
    margin: 5.5% 0%;
    font-family: "Lato", "Helvetica Neuve";
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    border: solid 1px #fefcfd;
    padding: 0 4%;
    border-radius: 5px;
    color: #fefcfd;
}

#home-message-input {
    width: 100%;
    margin: 0 0%;
    font-family: "Lato", "Helvetica Neuve";
    height: 100px;
    font-size: 20px;
    background-color: transparent;
    border: solid 1px #fefcfd;
    padding: 2%;
    border-radius: 5px;
    color: #fefcfd;
}

#home-name-input::placeholder,
#home-email-input::placeholder,
#home-company-input::placeholder,
#home-phone-input::placeholder,
#home-message-input::placeholder {
    color: #fefcfd;
}

#home-submit-btn {
    width: 40%;
    height: 60px;
    background-color: #f11515;
    border: solid 1px transparent;
    color: #fefcfd;
    font-family: "Lato", "Helvetica Neuve";
    margin: 6% 30% 0;
}

.home-form-field-col:nth-child(5) {
    grid-column: span 2;
}