#login-btn, #logout-btn {
    margin-top: -0.5%!important;
    font-weight: 600;
}

@media (max-width: 1700px) and (min-width: 1200px) {
    #login-btn, #logout-btn {
        margin-top: -1%!important;
    }
}