#footer-container {
    background-color: #243557;
    padding: 1.5% 20% 2%;
}

#footer-menu {
    margin-bottom: 3%;
    width: 80%;
}

#footer-contact-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.footer-col:nth-child(1) {
    grid-column: span 2;
}

.footer-col:nth-child(2) {
    grid-column: span 3;
}

.footer-nav-item, #phone-icon, #phone-number, #copyright {
    color: white!important;
}

@media (max-width: 1699px) and (min-width: 1200px) {
    .footer-col:nth-child(1) {
        grid-column: span 3;
    }
    
    .footer-col:nth-child(2) {
        grid-column: span 4;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .footer-col:nth-child(1) {
        grid-column: span 3;
    }
    
    .footer-col:nth-child(2) {
        grid-column: span 4;
    }
    #footer-container {
        padding: 1.5% 10% 2%
    }
}

@media (max-width: 991px) and (min-width: 801px) {
    .footer-col:nth-child(1) {
        grid-column: span 3;
    }
    
    .footer-col:nth-child(2) {
        grid-column: span 4;
    }
    #footer-container {
        padding: 1.5% 10% 2%
    }
}

@media (max-width: 800px) and (min-width: 768px) {
    .footer-col:nth-child(1) {
        grid-column: span 3;
    }
    .footer-col:nth-child(2) {
        grid-column: span 4;
    }
    #footer-container {
        padding: 1.5% 10% 2%
    }
}

@media (max-width: 767px) and (min-width: 362px) {
    #footer-contact-container {
        row-gap: 20px;
    }
    .footer-col:nth-child(1) {
        grid-column: span 12;
        text-align: center;
    }
    .footer-col:nth-child(2) {
        grid-column: span 12;
        text-align: center;
    }
    #footer-container {
        padding: 1.5% 7.5% 2%
    }
}

@media (max-width: 361px) {
    #footer-contact-container {
        row-gap: 20px;
    }
    .footer-col:nth-child(1) {
        grid-column: span 12;
        text-align: center;
    }
    .footer-col:nth-child(2) {
        grid-column: span 12;
        text-align: center;
    }
    #footer-container {
        padding: 1.5% 2% 2%
    }
}