#footer-container {
    background-color: black;
    padding: 1.5% 20% 2%;
}

#footer-menu {
    margin-bottom: 3%;
}

#footer-contact-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.footer-col:nth-child(1), .footer-col:nth-child(2) {
    grid-column: span 3;
}

.footer-nav-item, #phone-icon, #phone-number, #copyright {
    color: white!important;
}

@media (max-width: 1699px) and (min-width: 1200px) {
    .footer-col:nth-child(1), .footer-col:nth-child(2) {
        grid-column: span 5;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .footer-col:nth-child(1), .footer-col:nth-child(2){
        grid-column: span 5;
    }
    #footer-container {
        padding: 1.5% 10% 2%
    }
}

@media (max-width: 991px) and (min-width: 801px) {
    .footer-col:nth-child(1), .footer-col:nth-child(2){
        grid-column: span 6;
    }
    #footer-container {
        padding: 1.5% 10% 2%
    }
}