#announcement-container {
    display: grid;
    grid-template-columns: 20% 10% 40% 5% 5%;
    background-color: #000000;
    padding: 1%;
}

#announce-phone-number {
    color: white;
}
#announce-address {
    color: white;
}

.announce-social-icon-wrapper {
    display: flex;
}

#announce-facebook-icon {
    width: 40%;
    margin: 0 5%;
}

#announce-instagram-icon {
    width: 40%;
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #announcement-container {
        grid-template-columns: 20% 15% 45% 5% 5%;
    }
}