#announcement-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #243557;
    padding: 1%;
}

.announce-col:nth-child(1) {
    grid-column: 4 / span 1;
}

.announce-col:nth-child(2) {
    grid-column: span 4;
}

.announce-col:nth-child(3) {
    grid-column: span 1;
}

#announce-phone-number {
    color: white;
}
#announce-address {
    color: white;
}

.announce-social-icon-wrapper {
    display: flex;
}

#announce-facebook-icon {
    width: 10%;
    margin: 0 5%;
}

#announce-instagram-icon {
    width: 10%;
}

@media (max-width: 2053px) and (min-width: 1700px) {
    .announce-col:nth-child(1) {
        grid-column: 3 / span 2;
    }
    
    .announce-col:nth-child(2) {
        grid-column: span 5;
    }
    
    .announce-col:nth-child(3) {
        grid-column: span 1;
    }
    #announce-facebook-icon {
        width: 15%;
        margin: 0 5%;
    }
    
    #announce-instagram-icon {
        width: 15%;
    }
}

@media (max-width: 1699px) and (min-width: 1200px) {
    .announce-col:nth-child(1) {
        grid-column: 3 / span 2;
    }
    
    .announce-col:nth-child(2) {
        grid-column: span 5;
    }
    
    .announce-col:nth-child(3) {
        grid-column: span 2;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .announce-col:nth-child(1) {
        grid-column: 3 / span 2;
    }
    
    .announce-col:nth-child(2) {
        grid-column: span 5;
    }
    
    .announce-col:nth-child(3) {
        grid-column: span 2;
    }
}

@media (max-width: 991px) and (min-width: 801px) {
    .announce-col:nth-child(1) {
        grid-column: 3 / span 2;
    }
    
    .announce-col:nth-child(2) {
        grid-column: span 5;
    }
    
    .announce-col:nth-child(3) {
        grid-column: span 2;
    }
}

@media (max-width: 800px) and (min-width: 768px) {
    .announce-col:nth-child(1) {
        grid-column: 3 / span 2;
    }
    
    .announce-col:nth-child(2) {
        grid-column: span 5;
    }
    
    .announce-col:nth-child(3) {
        grid-column: span 2;
    }
}

@media (max-width: 767px) and (min-width: 362px) {
    .announce-col:has(#announce-address) {
        display: none;
    }
    #announce-facebook-icon {
        width: 20%;
        margin: 0 70%;
    }
    #announce-instagram-icon {
        width: 20%;
    }
}