#our-services-container {
    background-color: #fefcfd;
    width: 60%;
    margin: 0 20%;
    border: solid 1px #fefcfd;
}

#our-services-header {
    padding: 2%;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #f11515;
}

#services-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20%;
}