#shopify-container {
    background-color: #fefcfd;
    background-size: contain;
    width: 60%;
    margin: -0.2% 20% 0;
    padding: 2%;
}

#shopify-header {
    padding: 2%;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #f11515;
}

.shopify-subheader {
    padding: 2%!important;
    text-decoration: underline;
    text-underline-offset: 18px;
    text-decoration-color: #f11515;
}

.shopify-text {
    width: 80%;
    margin: 0 10%;
    font-size: 18px;
}

.shopify-text:nth-of-type(3) {
    text-align: center;
    margin-bottom: 3%;
}

#shopify-results-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.shopify-result-col {
    border: solid 1px #d2caca;
}