#edit-container {
    background-color: #fefcfd;
    width: 60%;
    margin: 0 20%;
    border: solid 1px #fefcfd;
}

#edit-header {
    padding: 2%;
    margin-top: 2%;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #f11515;
    text-align: center;
}

.edit-text {
    width: 80%;
    margin: 0% 10% 5%;
    font-size: 18px;
    text-align: center;
}

#edit-form-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 20px;
    width: 60%;
    margin: 2% 20%;
}

.edit-form-col {
    grid-column: span 12;
}

#edit-review {
    resize: none;
    width: 100%;
    height: 300px;
}

#edit-review-rating {
    margin-left: 2%;
    margin-bottom: 2%;
}

#rating-label, #edit-upload-label,
#edit-review-label {
    font-size: 20px;
    font-weight: 600;
}

#edit-submit-btn {
    width: 20%;
    margin: 0 40%;
    height: 60px;
    background-color: #f11515;
    transition: ease 0.5s !important;
    border: solid 1px transparent;
    color: #fefcfd;
    font-family: "Lato", "Helvetica Neuve";
    cursor: pointer !important;
}

#edit-submit-btn:hover {
    background-color: #243557 !important;
    transition: ease 0.5s !important;
}

@media (max-width: 2300px) and (min-width: 1954px) {
    #edit-container {
        width: 70%;
        margin: 0 15%;
    }
}

@media (max-width: 1953px) and (min-width: 1700px) {
    #edit-container {
        width: 70%;
        margin: 0 15%;
    }
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #edit-container {
        width: 70%;
        margin: 0 15%;
    }

    #edit-form-container {
        width: 80%;
        margin: 2% 10%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #edit-container {
        width: 80%;
        margin: 0 10%;
    }

    #edit-form-container {
        width: 80%;
        margin: 2% 10%;
    }
}

@media (max-width: 991px) and (min-width: 801px) {
    #edit-container {
        width: 80%;
        margin: 0 10%;
    }

    #edit-form-container {
        width: 95%;
        margin: 2% 2.5%;
    }
}

@media (max-width: 800px) and (min-width: 768px) {
    #edit-container {
        width: 80%;
        margin: 0 10%;
    }

    #edit-form-container {
        width: 95%;
        margin: 2% 2.5%;
    }
}

@media (max-width: 767px) and (min-width: 517px) {
    #edit-container {
        width: 80%;
        margin: 0 10%;
    }

    #edit-form-container {
        width: 95%;
        margin: 2% 2.5%;
    }

    #edit-submit-btn {
        width: 40%;
        margin: 0 30%;
    }
}

@media (max-width: 516px) and (min-width: 362px) {
    #edit-container {
        width: 100%;
        margin: 0;
    }

    #edit-header {
        margin-top: 5%;
    }

    .edit-text {
        margin-bottom: 10%;
    }

    #edit-form-container {
        width: 90%;
        margin: 2% 5%;
    }

    #edit-submit-btn {
        width: 40%;
        margin: 0 30% 5%;
    }
}

@media (max-width: 361px) {
    #edit-container {
        width: 100%;
        margin: 0;
    }

    #edit-header {
        margin-top: 5%;
        font-size: 24px;
    }

    .edit-text {
        margin-bottom: 10%;
    }

    #edit-form-container {
        width: 90%;
        margin: 2% 5%;
    }

    #edit-submit-btn {
        width: 60%;
        margin: 0 20% 5%;
    }
}