#top-catalogs-container {
    background-color: #fefcfd;
    width: 60%;
    margin: 0 20%;
    border: solid 1px #fefcfd;
}

#top-catalogs-header {
    padding: 2%;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #f11515;
}

#catalogs-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 2%;
}

.catalog-col:has(#sanmar),
.catalog-col:has(#alphabroder) {
    margin-top: 7%;
}

.catalog-col:has(#charles-river) {
    margin-top: 3%;
}

.catalog-col:has(#citadel-brands) {
    margin-top: 8%;
}

.catalog-col:has(#stormtech) {
    margin-top: -9%;
}

.catalog-col:has(#edwards) {
    margin-top: 10%;
}

.catalog-img {
    width: 50%;
    margin: 0 20%;
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #top-catalogs-container {
        width: 80%;
        margin: 0 10%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #top-catalogs-container {
        width: 80%;
        margin: 0 10%;
    }
}