#main-menu {
    padding: 0 10%;
    padding-bottom: 1%;
    background-color: #fefcfd;
}

.header-nav-item {
    font-size: 20px;
}
.header-nav-item:hover {
    background-color: #fefcfd!important;
}